react-multi-carousel --save
react-slick --save
react-icons
slick-carousel
axios
nodemailer
twilio 
qrcode.react
npm install @fortawesome/react-fontawesome
npm install @fortawesome/free-solid-svg-icons
npm install uuid
npm install react-router-dom qrcode.react jspdf
npm install html2canvas