react-multi-carousel --save
react-slick --save
react-icons
slick-carousel
axios
nodemailer
twilio 
qrcode.react
@fortawesome/react-fontawesome 
@fortawesome/free-solid-svg-icons
uuid
react-router-dom qrcode.react jspdf
html2canvas
multer
cloudinary
@cloudinary/react @cloudinary/url-gen
react-dropzone
